@import "./sections/index";
@import "./subnav/index";
@import "./grid/index";

#content {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.content-wrapper {
		display: flex;
		max-width: 1280px;
		width: 100%;
		flex-wrap: wrap;

		.section-wrapper {
			margin: 0 24px 0 24px;
			display: flex;
			width: 100%;

			.section-content {
				width: 100%;

				.section {
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}

aside {
	height: 800px;
	min-width: 250px;
	margin-right: 24px;
	background-color: black;
	@media (max-width: 768px) {
		display: none;
	}
}
