$comfortaa-sans-family: "Comfortaa", cursive;
$montserrat-family: "Montserrat", sans-serif;
$open-sans-family: "Open Sans", sans-serif;

$white-theme-color: #f8f3f3;
$pink-theme-color: #eb2958;
