.bread-crumb {
	font-family: $montserrat-family;
	padding: 0;
	display: inline-flex;
	margin-top: 12px;
	gap: 6px;

	&__item {
		background: #fff;
		color: #333;
		border-radius: 4px;
		outline: none;
		padding: 0.5em 0.5em 0.5em 0.5em;
		position: relative;
		text-decoration: none;
		transition: backround-color 0.1s linear;
	}

	&__item:hover {
		color: white;
		background-color: $pink-theme-color;
	}

	&__item.active {
		color: white;
		background-color: $pink-theme-color;
	}
}
