.section-illustration {
	min-width: 320px;
	width: 320px;
	svg {
		height: 320px;
	}
}

.section-text {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	font-family: $montserrat-family;
	flex-basis: 100%;
	span {
		flex-basis: 100%;
	}
	.title {
		font-size: 32px;
	}
	.sub-title {
		font-size: 16px;
	}
}
