.section-illustration {
	min-width: 250px;
	width: 250px;
	display: inline-flex;
	justify-content: center;

	img {
		width: 100%;
	}

	@media (max-width: 768px) {
		width: 200px;
		min-width: 200px;
	}
}

.section-text {
	margin-left: 24px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	font-family: $montserrat-family;
	flex-basis: 100%;
	span {
		flex-basis: 100%;
	}
	.title {
		font-size: 32px;
		@media (max-width: 768px) {
			font-size: 24px;
		}
	}
	.sub-title {
		font-size: 16px;
		@media (max-width: 768px) {
			font-size: 12px;
		}
	}
}
