@import "styles/vars";
@import "styles/header/index.scss";
@import "styles/main/index.scss";

body {
	font-family: $open-sans-family;
	font-size: 14px;
	min-height: 100%;
	border: 0px;
	box-sizing: border-box;
	font-weight: normal;
	height: 100%;
	letter-spacing: 0px;
	padding: 0px;
	position: relative;
	vertical-align: baseline;
}
