@import "styles/vars";
@import "styles/header/index";
@import "styles/main/index";
@import "styles/footer/index";

html {
	font-size: 14px;
	overflow-y: scroll;
}

body {
	font-family: $open-sans-family;
	min-height: 100vh;
	border: 0px;
	box-sizing: border-box;
	font-weight: normal;
	letter-spacing: 0px;
	padding: 0px;
	position: relative;
	vertical-align: baseline;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
